@charset "utf-8";
/* CSS Document */

.lfclass {
  background-color: #cccccc;
  font-family: "Letter Gothic Std";
}

section {
  margin-top: 15px;
}

.bildtexte {
  margin-bottom: 15px;
}

.sonderbildtext {
  margin-bottom: 15px;
  margin-top: 90px;
}

.img1container {
  background-image: url("../images/DSC03348.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  height: 600px;
}

.img0container {
  background-image: url("../images/DSC03058.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  height: 800px;
}

.gebiete {
  font-family: "comfortaa";
}

h4 {
	margin-top: 5px;
}

h2 {
	margin-top: 10px;
}